{% extends 'base.html' %}

{% block content %}
<div class="content">
  <div class="new-tag-content">
    <div class="new-tag">


      <h1>Создание тега</h1>

      {% for category, message in get_flashed_messages(with_categories=True) %}
      <div id="alert" class="alert alert-{{category}}">
        <span>Ошибка: {{ message }}</span>
        <button id="close-btn" class="close-btn btn btn-dark"">&#10007;</button>
        <label for="pop-checkbox" class="close-block"></label>
      </div>
      {% endfor %}



      <form action="" method="post" enctype="multipart/form-data">
        <div class="new-tag-form">
          {{ form.csrf_token() }}

          {{ form.title.label }}
          {{ form.title(class_='form-control') }}
          {% for error in form.title.errors %}
            {{ erorr }}
          {% endfor %}
          <div class="btn-tag">
            {{ form.submit(class_="btn btn-outline-dark") }}
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}