{% extends 'base.html' %}


{% block content %}
<div class="content">
    <div class="post-detail-content">
        {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{category}}" onclick="close">
                <span>Error: {{ message }}</span>
                <button class="closebtn" onclick='$("#content").hide();'>&#10006;</button> 
                <label for="pop-checkbox" class="close-block"></label> 
            </div>
        {% endfor %}
        <div class="post-detail">
            <h1 class="post-title">{{ post.title }}</h1>
            <span>
                <p class="post-detail-author"><a href="{{ url_for('users.user', username=post.user.username) }}" class="post-author-link">Автор: {{ post.user.username }}</a></p>
                <div class="post-detail-info">
                    <p>{{ moment(post.created).format('LLL') }}</p>
                    <span>
                        <img src="{{ url_for('static', filename='images/comment.png') }}" width="25" height="25">{{ post.comments|length }}
                    </span>
                </div>
            </span>
            <div class="post-tags">
                {% for tag in post.tags %}
                <div class="post-tag">
                    <a href="{{ url_for('posts.get_posts_by_tag', title=tag.title) }}">{{ tag.title }}</a>
                </div>
                {% endfor %}
            </div>
            {% if post.image_path %}
                <div class="post-detail-img">
                    <a href="{{ url_for('static', filename='media/' + post.image_path) }}">
                        <img src="{{ url_for('static', filename='media/' + post.image_path) }}" class="img-fluid img-thumbnail">
                    </a>
                </div>
            {% endif %}
            <p>{{ post.body|safe}}</p>
            <div class="post-links">
                <button type="button" class="btn btn-light post-link-btn">
                    <a href="{{ url_for('posts.get_posts_by_username', username=post.user.username) }}" class="post-author-link post-link-posts">Другие статьи пользователя</a>
                </button>
                <div class="post-buttons">
                    {% if current_user.id == post.user.id %}
                        <form action="{{ url_for('posts.update_post', id=post.id) }}">
                            <button type="button" class="btn btn-outline-dark">Изменить статью</button>
                        </form>
                        <form action="{{ url_for('posts.delete_post', id=post.id) }}" method="post">
                            <button type="button" class="btn btn-outline-danger">Удалить статью</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="new-comment">
            <h1 class="comments-head">Комментарии</h1>
            <div class="comment">
                <form action="{{ url_for('comments.create_comment', post_id=post.id) }}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        {{ form.csrf_token() }}

                        <label class="form-label" for="message" hidden>Комментарий</label>
                        <textarea rows="3" placeholder="Написать комментрарий" class="form-control" id="message" name="message" required></textarea>
                        <input id="submit" name="submit" type="submit" value="Отправить" class="btn btn-outline-dark">
                    </div>
                </form>
            </div>
        </div>
        <div class="comments">
            {% for comment in post.comments | reverse %}
                <div class="comment-block">
                    <article class="comment">
                        <section class="comment-author">
                            <a href="{{ url_for('users.user', username=comment.user.username) }}" class="comment-author-info">
                                {% if comment.user.photo_path %}
                                <picture class="comment-author-icon">
                                    <img src="{{ url_for('static', filename='media/' + comment.user.photo_path) }}">
                                </picture>
                                {% else %}
                                <picture class="comment-author-icon">
                                    <img src="{{ url_for('static', filename='images/icon.webp') }}">
                                </picture>
                                {% endif %}
                                <span class="comment-author-name">{{ comment.user.username }}</span>
                                <span class="comment-author-date">{{ moment(post.created).format('LLL') }}</span>
                            </a>
                        </section>
                        <div class="comment-body">
                            <p>{{ comment.message }}</p>
                        </div>
                        {% if current_user.id == comment.owner_id %}
                            <form action="{{ url_for('comments.delete_comment', comment_id=comment.id) }}" method="post">
                                <button type="button" class="btn btn-outline-dark">Удалить комментарий</button>
                            </form>
                            
                        {% endif %}
                    </article>
                </div>
            {% endfor %}
            
        </div>
    </div>
</div>
{% endblock %}