@media (min-width: 800px) {  
    aside {position: static; width: 100%;}
    .layout {--sidebar-min-width: 264px;} 
  }
  
@media (max-width: 799px) { 
    aside {display: none;}
}

html, body {
    margin: 0;
    color: rgb(0, 0, 0);
    height:100%;
    font-family:"Open Sans", Verdana, Tahoma, Arial, Helvetica, sans-serif;
  }

body {
    display: flex !important;
    flex-direction: column;
}

h1 {
    margin-top: 20px;
    text-align: center
}

body {
    background-image: url("/static/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content {
    flex: 1 0 auto;
    box-sizing: border-box;
    min-height: 90%;
    padding-bottom: 90px;
    margin: auto;
    width: 75%;
}

a {
    text-decoration: none;
}

.alert {
    padding: 12px !important;
    border-radius: 3px !important;
    font-size: 1.2rem;
    font-weight: 530;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 16px !important;
    border-width: 2px !important;
    border-style: solid !important;
  }

.alert-error {
    border-color: darkred !important;
    background-color: rgb(201, 52, 52) !important;
    color: rgb(0, 0, 0) !important;
}



/* post-list */

.head {
    padding-top: 20px;
}

.post-list-content {
    background-color: rgb(247, 247, 247);
    min-height: 80%;
    padding: 0 30px;
    margin: 40px 0;
    border-radius: 1.4rem;
}

.post-list {
    margin-top: 35px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-column-gap: 10%;
    grid-row-gap: 2em;
    padding-bottom:35px;
}

.post-card {
    margin: auto;
}

.rounded-bottom {
    border-bottom-right-radius: 1.5rem !important;
    border-bottom-left-radius: 1.5rem !important;
    border-top-right-radius: 1.5rem !important;
    border-top-left-radius: 1.5rem !important;
}

.rounded-top {
    border-top-right-radius: 1.5rem !important;
    border-top-left-radius: 1.5rem !important;
}

.card {
    border-radius: 1 !important;
}

.card-img {
    display: inline-block; 
    overflow: hidden;
   }

.card-img img {
    transition: 1s; 
    display: block; 
   }

.card-img img:hover {
    transform: scale(1.1); 
}

.card-post-info {
    display: flex;
    justify-content: space-between;
    height: 54px;
    margin-bottom: 15px;
    overflow: hidden;
}

.card-post-dop-info {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.card-info-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    height: 100px;
    overflow: hidden;
}

.card-title {
    background: 
      linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255)),
      linear-gradient(to right, rgb(147 18 18), rgb(165 50 131), rgb(11 131 251));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    text-decoration: none;
    color: #000000;
}
  
.card-title:hover,
.card-title:focus {
    background-size: 0 0.1em, 100% 0.1em;
    color: rgb(63, 120, 185);
}

.card-author-link {
    background: 
      linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255)),
      linear-gradient(to right, rgb(147 18 18), rgb(165 50 131), rgb(11 131 251));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    text-decoration: none;
    color:#000000
}
  
.card-author-link:hover,
.card-author-link:focus {
    background-size: 0 0.1em, 100% 0.1em;
    color: rgb(63, 120, 185);
}

/* post-detail */

.content-detail {
    flex: 1 0 auto;
    box-sizing: border-box;
    min-height: 90%;
    padding-bottom: 90px;
    margin: auto;
    max-width: 100%;
}


.post-detail-content {
    background-color: rgb(247, 247, 247);
    width: 90vw;
    min-height: 80%;
    padding: 20px 0;
    margin: 40px auto;
    border-radius: 1.4rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
}

.post-detail {
    min-height: 70%;
    padding: 20px 10px;
    margin: auto;
    width: 80vw;
    background-color: #fff;
    border-radius: 1.4rem;
    box-shadow: 0 12px 48px rgba(130, 166, 206, 0.18);
    overflow-wrap: break-word;
    hyphens: auto;
}

.post-title {
    padding-bottom: 20px;
    font-weight: 600;
}

.post-detail-author {
    font-style: italic;
    padding-bottom: 3px;
    margin-bottom: 0;
}

.post-author-link {
	position: relative;
	color: #000000;
	text-decoration: none;
    transition: 0.5s linear;
}

.post-author-link::before {
    content: '';
	position: absolute;
	left: 0; bottom: -5px;
	width: 0;
	height: 1.5px;
	background-color: rgb(63, 120, 185);
}

.post-author-link:hover {
    color: rgb(63, 120, 185);
}

.post-author-link:hover:before {
	width: 100%;
}

.post-author-link::before {
	transition: width 0.35s;
}

.post-detail-info {
    display: flex;
    gap: 15px;
}

.post-tags {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.post-tag {
    margin: 5px 0 15px 0;
    border: 8px solid transparent;
    box-shadow: 0 0 8px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0);
}

.post-tag a {
    font-style: italic;
    color: #ffffff;
    transition: 0.5s linear;
    text-decoration: none;
}

.post-tag a:hover {
    color: rgb(255 18 18);
}

.post-detail-img img {
    display: block;
    margin: auto;
    padding: auto;
    width: 800px;
}

.post-links button {
    display: block;
    box-shadow: 0 0 8px rgb(0, 0, 0);
}

.post-link-btn {
    margin: auto;
    padding: auto;
}

.post-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.btn-outline-danger:hover {
    background-color: rgb(201, 46, 46);
}

/* new_comment */

.new-comment {
    min-height: 70%;
    padding: 20px;
    margin: auto;
    width: 80vw;
    background-color: #fff;
    border-radius: 1.4rem;
    box-shadow: 0 12px 48px rgba(130, 166, 206, 0.18);
}

.form-control {
    margin-bottom: 20px;
}

.btn-new-comment {
    display: block !important;
    margin: auto;
}

/* comments */
@media screen and (max-width: 600px) {
    .comments-head{
        padding-bottom: 20px;
        font-weight: 600;
        font-size: 8vw; 
    }
}

.comments-head {
    padding-bottom: 20px;
    font-weight: 600;
}

.comments {
    min-height: 70%;
    padding: 20px;
    margin: auto;
    width: 80vw;
    background-color: #fff;
    border-radius: 1.4rem;
    box-shadow: 0 12px 48px rgba(130, 166, 206, 0.18);
}

.comment-block {
    position: relative;
}

.comment {
    display: block;
    margin-bottom: 12px;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 12px 48px rgba(130, 166, 206, 0.18);
}

.comment-author {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.comment-author-info {
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-template-rows: 20px 1fr;
    grid-column-gap: 10px;
}

.comment-author-icon {
    grid-row: 1 / 3;
    grid-column: auto;
    display: block;
}

.comment-author-icon img {
    height: 32px;
}

.comment-author-name {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 12px;
    color:rgb(6, 6, 121);
}

.comment-author-date {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 9px;
    color:rgb(10, 10, 167);
}

.comment-body {
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    word-wrap: break-word
}


.btn-delete-comment {
    font-size: 0.9rem !important;
    display: block !important; 
    margin: auto !important;
}

@media screen and (max-width: 400px) {
    .post-buttons {
        flex-direction: column;
        align-items: center;
    }

    .post-buttons form {
        margin-bottom: 10px;
    }
}

/* new-list */

.new-post-content {
    background-color: rgb(247, 247, 247);
    padding: 20px 30px;
    margin: 40px 0;
    border-radius: 1.4rem;
}

.new-post {
    padding: 20px;
    margin: auto;
    width: 85%;
    background-color: #fff;
    border-radius: 1.4rem;
    box-shadow: 0 12px 48px rgba(130, 166, 206, 0.18);
}

@media screen and (max-width: 600px) {
    .new-post-content {
        padding: 10px 10px;
        margin: 20px auto;
        width: 75vw;
    }

    .new-post {
        width: 65vw;
        padding: 10px;
    }

    .new-post h1 {
        font-size: 20px;
    }

    .new-post-form .form-control {
        font-size: 12px;
    }

    .new-post-form .mt-4 {
        margin-top: 10px !important;
    }

    .new-post-form .mb-3 {
        margin-bottom: 10px !important;
    }

    .new-post-form .btn {
        font-size: 10px !important;
    }

    .upload-image-post .form-control {
        margin-bottom: 5px !important;
    }

    .add-tag-post select {
        font-size: 12px;
    }
}


@media screen and (max-width: 300px) {
    .new-post-content {
        padding: 5px 5px;
        margin: 20px auto;
        width: 75vw;
    }

    .new-post {
        width: 65vw;
        padding: 10px;
    }

    .new-post h1 {
        font-size: 14px;
    }

    .new-post-form .form-control {
        font-size: 7px;
    }

    .new-post-form .mt-4 {
        margin-top: 10px !important;
    }

    .new-post-form .mb-3 {
        margin-bottom: 10px !important;
    }

    .new-post-form .btn {
        font-size: 10px !important;
    }

    .upload-image-post .form-control {
        margin-bottom: 5px !important;
    }

    .add-tag-post select {
        font-size: 7px;
    }
}

/* tag-list */

.tag-list {
    background-color: rgb(247, 247, 247);
    padding: 20px 30px;
    margin: 40px 0;
    border-radius: 1.4rem;
}

.tags {
    padding: 20px;
    margin: auto;
    background-color: #fff;
    border-radius: 1.4rem;
    box-shadow: 0 12px 48px rgba(130, 166, 206, 0.18);
}

.all-tags {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    padding: 15px;
    flex-wrap: wrap;
}

.tag {
    margin: 15px 25px 15px 25px;
    border: 8px solid transparent;
    box-shadow: 0 0 8px rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
}

.tag a {
    font-style: italic;
    color: #ffffff;
    transition: 0.5s linear;
    text-decoration: none;
}

.tag a:hover {
    color: rgb(255 18 18);
}

@media screen and (max-width: 500px) {
    .tag-list {
        padding: 15px 10px;
        min-height: auto;
        margin: 20px 0;
    }
 
    .tags {
        padding: 10px;
        width: 65vw;
        min-height: 200px;
        height: max-content;
    }

    .tags h1 {
        font-size: 30px;
    }

    .all-tags {
        gap: unset;
        padding: 10px;
        justify-content: unset;
    }

    .tag {
        margin: 8px 35px 8px 30px;
        border: 5px solid transparent;
        border-radius: 5px;
        display: inherit;
    }

    .tag a {
        font-size: 14px;
    } 
}

@media screen and (max-width: 300px) {
    .tag-list {
        padding: 10px 10px;
        min-height: auto;
        margin: 20px 0;
    }

    .tags {
        padding: 10px;
        width: 65vw;
        min-height: 200px;
        height: max-content;
    }

    .tags h1 {
        font-size: 18px;
    }

    .all-tags {
        gap: 8px;
        padding: 10px 5px;
    }

    .tag {
        margin: 1px 25px 1px 25px;
        border: 5px solid transparent;
        border-radius: 3px;
        display: inherit;
    }

    .tag a {
        font-size: 10px;
    }
}

/* new-tag */

.new-tag-content {
    background-color: rgb(247, 247, 247);
    padding: 20px 30px;
    margin: 40px 0;
    border-radius: 1.4rem;
}

.new-tag {
    padding: 20px;
    margin: auto;
    width: 85%;
    background-color: #fff;
    border-radius: 1.4rem;
    box-shadow: 0 12px 48px rgba(130, 166, 206, 0.18);
}

.new-tag-form {
    display: flex;
    padding: 20px 200px 0px 200px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
}

@media screen and (max-width: 1000px) {
    .new-tag-content {
        width: 75vw;
    }

    .new-tag {
        width: 65vw;
        padding: 10px;
    }

    .new-tag h1 {
        font-size: 32px;
    }

    .new-tag-form {
        padding: 0;
    }

    .new-tag-form label {
        font-size: 18px;
    }

    .new-tag-form .form-control {
        font-size: 24px;
        margin-bottom: 10px !important;
        width: 50vw;
    }
    
    .new-tag-form .btn {
        font-size: 18px !important;
    }
}

@media screen and (max-width: 600px) {
    .new-tag-content {
        width: 75vw;
        padding: 10px 10px;
        margin: 20px auto;
    }

    .new-tag {
        width: 65vw;
        padding: 10px;
    }

    .new-tag h1 {
        font-size: 24px;
    }

    .new-tag-form {
        padding: 0;
    }

    .new-tag-form label {
        font-size: 18px;
    }

    .new-tag-form .form-control {
        font-size: 14px;
        margin-bottom: 5px !important;
        width: 50vw;
    }
    
    .new-tag-form .btn {
        font-size: 14px !important;
    }
}

@media screen and (max-width: 400px) {
    .new-tag-content {
        width: 75vw;
        padding: 5px 5px;
        margin: 20px auto;
    }

    .new-tag {
        width: 65vw;
        padding: 10px;
    }

    .new-tag h1 {
        font-size: 18px;
    }

    .new-tag-form {
        padding: 0;
    }

    .new-tag-form label {
        font-size: 14px;
    }

    .new-tag-form .form-control {
        font-size: 10px;
        height: 25px;
        margin-bottom: 5px !important;
        width: 50vw;
    }

    .new-tag-form .btn {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 300px) {
    .new-tag-content {
        width: 65vw;
        padding: 5px 5px;
        margin: 20px auto;
    }

    .new-tag {
        width: 55vw;
        padding: 10px;
    }

    .new-tag h1 {
        font-size: 10px !important;
    }

    .new-tag-form {
        padding: 0;
    }

    .new-tag-form label {
        font-size: 8px;
    }

    .new-tag-form .form-control {
        font-size: 10px;
        height: 20px;
        margin-bottom: 5px !important;
        width: 35vw;
    }

    .new-tag-form .btn {
        font-size: 8px;
    }
}

/* user-list */

.user-list-content {
    background-color: rgb(247, 247, 247);
    padding: 20px 30px;
    margin: 40px 0;
    border-radius: 1.4rem;
}

.user-list {
    padding: 20px;
    margin: auto;
    background-color: #fff;
    border-radius: 1.4rem;
    box-shadow: 0 12px 48px rgba(130, 166, 206, 0.18);
}

.user-list h1 {
    padding-bottom: 20px;
}

.users {
    margin: 0 50px;
    display: flex;
    flex-wrap: wrap;
    place-items: center start;
}

.users a {
    text-decoration: none;
    padding: 20px 30px;
    margin: 20px 30px;
    height: 100px;
}

.user {
    display: grid;
    grid-template-columns: 64px 1fr;
    grid-template-rows: 64px 1fr;
    grid-column-gap: 20px;
}

.user-icon {
    grid-column: auto;
    display: block;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgb(0, 0, 0), 0 0 13px #333;
}

.user-icon img {
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
}

.user-name {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
	position: relative;
	color: #000000;
	font-size: 1.25rem;
	text-decoration: none;
    transition: 0.5s linear;
    min-width: 100%;
    width: 100%;
}

.user-name::before {
    content: '';
	position: absolute;
	left: 0; 
    bottom: -5px;
	width: 0;
	height: 1.5px;
    background-color:rgb(109 114 120);
}

.user-name:hover {
    color: rgb(109 114 120)

}

.user-name:hover:before {
	width: 100%;
}

.user-name::before {
	transition: width 0.35s;
}


@media screen and (max-width: 1000px) {
    .users {
        margin: 0 10px;
    }

    .users a {
        padding: 10px 10px;
        margin: 10px 10px;
    }

    .user-icon {
        box-shadow: 0 0 0 1.5px rgb(0, 0, 0), 0 0 13px #333;
    }
}


@media screen and (max-width: 500px) {
    .user-list-content {
        padding: 15px 15px;
        margin: 20px auto;
    }

    .user-list {
        padding: 10px;
    }

    .user-list h1 {
        font-size: 6vw;
        padding-bottom: 10px;
    }

    .users {
        margin: 0 10px;
        justify-content: start;
    }

    .users a {
        padding: 10px 5px;
        margin: 10px 15px;
        height: auto;
    }
 
    .user {
        grid-template-columns: 30px 1fr;
        grid-template-rows: 30px 1fr;
        grid-column-gap: 20px;
    }

    .user-icon {
        display: block;
        border-radius: none;
        box-shadow: none;
        width: 40px;
        height: 40px;
    }
 
    .user-icon img {
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        width: 100%;
        box-shadow: 0 0 0 0.5px rgb(0, 0, 0), 0 0 8px #333;
    }

    .user-name {
        font-size: 12px;
    }

    .user-name::before {
        height: 1px;
        bottom: -1px;
    }
}

@media screen and (max-width: 300px) {
    .user-list-content {
        padding: 10px 10px;
        margin: 20px auto;
    }

    .user-list {
        padding: 10px;
    }

    .user-list h1 {
        font-size: 6vw;
        padding-bottom: 5px;
    }

    .users {
        margin: 0 10px;
    }

    .users a {
        padding: 10px 5px;
        margin: 0;
        height: auto;
    }

    .user {
        grid-template-columns: 30px 1fr;
        grid-template-rows: 30px 1fr;
        grid-column-gap: 10px;
    }

    .user-icon {
        display: block;
        border-radius: none;
        box-shadow: none;
        width: 25px;
        height: 25px;
    }
    
    .user-icon img {
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        width: 100%;
        box-shadow: 0 0 0 0.5px rgb(0, 0, 0), 0 0 8px #333;
    }

    .user-name {
        font-size: 10px;
    }

    .user-name::before {
        height: 0.5px;
        bottom: 1px;
    }
}

/* user */

.user-detail-content {
    background-color: rgb(247, 247, 247);
    padding: 20px 30px;
    margin: 40px 0;
    border-radius: 1.4rem;
}

.user-head-flex {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.user-header {
    padding: 20px;
    margin: auto;
    width: 85%;
    background-color: #fff;
    border-radius: 1.4rem;
    box-shadow: 0 12px 48px rgba(130, 166, 206, 0.18);
}

.user-head {
    display: grid;
    grid-column-gap: 20px;
}

.user-head-icon {
    grid-column: auto;
    display: block;
    border-radius: 50%;
}

.user-head-icon img {
    width: 10vw;
    border-radius: 100%;
    box-shadow: 0 0px 8px rgba(0, 0, 0);
    display: block;
    margin: 0 auto;
}

.user-head-name {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
}

.user-head-name h1 {
    margin: 0;
}

.user-head-blog {
    font-size: 20px;
    display: flex;
}

.user-head-blog span {
    display: inline-flex;
}

.user-head-blog-icon {
    display: inline-flex;
    align-items: center;
}

.user-head-blog-icon img {
    height: 20px;
}

.user-detail {
    padding: 20px;
    margin:auto;
    margin-top: 30px;
    width: 85%;
    background-color: rgb(247, 247, 247);
    border-radius: 1.4rem;
    box-shadow: 0 12px 48px rgba(130, 166, 206, 0.18);
}

.user-post-list {
    margin-top: 35px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
    grid-column-gap: 10%;
    grid-row-gap: 2em;
    padding-bottom:35px;
}

@media screen and (max-width: 600px) {
    .user-detail-content {
        width: 75vw;
        padding: 10px 10px;
        margin: 20px auto;
    }

    .user-header {
        width: 65vw;
    }

    .user-head {
        grid-column-gap: 8px;
    }

    .user-head-icon {
        padding: 10px;
    }

    .user-head-name h1 {
        font-size: 16px;
    }

    .user-head-blog-icon img {
        height: 16px;
    }

    .user-head-blog span {
        font-size: 16px;
    }

    .user-detail {
        width: 65vw;
        margin-top: 20px;
    }
}

@media screen and (max-width: 300px) {
    .user-detail-content {
        width: 75vw;
        padding: 5px 5px;
        margin: 20px auto;
    }

    .user-header {
        width: 65vw;
        padding: 10px;
    }

    .user-head {
        grid-column-gap: 2px;
    }

    .user-head-icon {
        padding: 10px;
    }

    .user-head-name h1 {
        font-size: 10px;
    }

    .user-head-blog-icon img {
        height: 10px;
    }

    .user-head-blog span {
        font-size: 10px;
    }

    .user-detail {
        width: 65vw;
        padding: 10px;
        margin-top: 15px;
    }
}


/* profile */

.profile-content {
    background-color: rgb(247, 247, 247);
    padding: 20px 30px;
    margin: 40px auto;
    border-radius: 1.4rem;
    width: 40%;
}

.profile-user-info {
    padding: 20px;
    margin: auto;
    width: 85%;
    background-color: #fff;
    border-radius: 1.4rem;
    box-shadow: 0 12px 48px rgba(130, 166, 206, 0.18);
}

.profile-user-info img {
    width: 10vw;
    border-radius: 100%;
    box-shadow: 0 0px 8px rgba(0, 0, 0);
    display: block;
    margin: 0 auto;
}

.form-profile {
    padding: 20px;
    margin:auto;
    margin-top: 30px;
    width: 85%;
    background-color: rgb(247, 247, 247);
    border-radius: 1.4rem;
    box-shadow: 0 12px 48px rgba(130, 166, 206, 0.18);
}

.btn-submit {
    display: block;
}

.btn-submit button{
    display: block;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .profile-content {
        width: 75vw;
        padding: 10px 10px;
    }

    .profile-user-info {
        width: 65vw;
        height: auto;
    }

    .form-profile {
        width: 65vw;
    }

}

@media screen and (max-width: 600px) {
    .profile-content {
        width: 75vw;
        padding: 10px 10px;
        margin: 20px auto;
    }

    .profile-user-info {
        width: 65vw;
        height: auto;
        padding: 10px;
    }

    .profile-user-info h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .form-profile {
        padding: 10px;
        width: 65vw;
    }

    .form-profile .form-control {
        font-size: 12px !important;
        margin-bottom: 10px !important;
    }

    .form-profile .mt-4 {
        margin-top: 5px !important;
    }

    .form-profile .mb-3 {
        margin-bottom: 5px !important;
    }

    .form-profile .btn {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 300px) {
    .profile-content {
        width: 75vw;
        padding: 5px 5px;
        margin: 20px auto;
    }

    .profile-user-info {
        width: 65vw;
        height: auto;
        padding: 10px;
    }

    .profile-user-info h1 {
        font-size: 16px;
    }

    .form-profile {
        padding: 10px;
        width: 65vw;
    }

    .form-profile .form-control {
        font-size: 8px !important;
        margin-bottom: 10px !important;
    }

    .form-profile .mt-4 {
        margin-top: 5px !important;
    }

    .form-profile .mb-3 {
        margin-bottom: 5px !important;
    }

    .form-profile .btn {
        font-size: 10px !important;
    }
}

/* login */

.login-content {
    background-color: rgb(247, 247, 247);
    padding: 20px 30px;
    margin: 40px auto;
    border-radius: 1.4rem;
    width: 50%;
}


.login {
    height: 25%;
    padding: 20px;
    margin: auto;
    width: 85%;
    background-color: #fff;
    border-radius: 1.4rem;
    box-shadow: 0 12px 48px rgba(130, 166, 206, 0.18);
}


@media screen and (max-width: 1000px) {
    .login-content {
        width: 65vw;
    } 

    .login h1 {
        font-size: 30px !important;
    }
}


@media screen and (max-width: 600px) {
    .login-content {
        width: 70vw;
    }

    .login {
        width: 55vw;
    }

    .login h1 {
        font-size: 20px !important;
    }

    .form-register .form-control {
        margin-bottom: 10px !important;
    }
}

@media screen and (max-width: 400px) {
    .login-content {
        width: 65vw;
        margin: 20px auto;
        padding: 20px 20px;
    } 

    .login {
        width: 50vw;
    } 

    .login h1 {
        font-size: 18px !important;
    }

    .login .form-control {
        font-size: 10px;
        height: 20px;
        margin-bottom: 5px !important;
    }
    
    .login .mt-4 {
        margin-top: 5px !important;
    }

    .login .mb-3 {
        margin-bottom: 5px !important;
    }

    .upload-file .form-control {
        height: 29px;
    }

    .login .btn {
        font-size: 10px;
    }
}

@media screen and (max-width: 300px) {
    .login-content {
        width: 65vw;
        padding: 5px 5px;
        margin: 20px auto;
    } 

    .login {
        width: 55vw;
        padding: 10px;
    } 

    .login h1 {
        font-size: 10px !important;
    }

    .form-register .form-control {
        font-size: 5px;
        height: 10px;
        margin-bottom: 5px !important;
    }

    .form-register .mt-4 {
        margin-top: 2px !important;
    }

    .form-register .mb-3 {
        margin-bottom: 2px !important;
    }

    .upload-file .form-control {
        height: 20px;
    }

    .form-register .btn {
        font-size: 5px;
    }
}


/* footer */


.footer {
    flex: 0 0 auto;
    height: 80px;
    margin-top: -80px;
}

.footer p{
    color:#fff;
    margin-left: 35px; 
}

.footer ul{
    margin-right: 35px;
}

.foot-link a{
    color:#fff
}

.message {
    hyphens: auto;
}
