{% extends 'base.html' %}


{% block content %}
<div class="content">
    <header>
        <div>
            <h1>{{ user['username'] }}</h1>
            {% if user.photo_path %}
            <div><a href="{{ url_for('static', filename='media/' + user.photo_path) }}"><img src="{{ url_for('static', filename='media/' + user.photo_path) }}"></a></div>
            {% endif %}
        </div>
    </header>

    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{category}}" onclick="close">
      <span>{{ message }}</span>
      <button class class="closebtn" onclick='$("#content").hide();'>&#10006;</button> 
      <label for="pop-checkbox" class="close-block"></label> 
    </div>
    {% endfor %}

    <div class="form profile">
        <form method="post" enctype="multipart/form-data">
            {{ form.csrf_token() }}

            {% for field in form if field.name != "csrf_token" %}
            {% if field.name != "submit" %}
            <p>{{ field.label() }}</p>
            {% endif %}
            <p>{{ field }}
                {% for error in field.errors %}
                {{ erorr }}
                {% endfor %}
            </p>
            {% endfor %}
        </form>
    </div>
</div>
{% endblock %}