{% extends 'base.html' %}


{% block content %}
<div class="content">
  {% for user in users %}
    <article class="post">
      <header>
        <div>
          <a class="user" href="{{ url_for('users.user', username=user['username']) }}"><h1>{{ user['username'] }}</h1></a>
          {% if user.photo_path %}
            <div>
              <a href="{{ url_for('static', filename='media/' + user.photo_path) }}">
                <img src="{{ url_for('static', filename='media/' + user.photo_path) }}">
              </a>
            </div>
          {% endif %}
        </div>
      </header>
    </article>

  {% endfor %}
</div>
{% endblock %}